.menu, .toggle, .menu *,
.menu *:before, .menu *:after {
    box-sizing: border-box;
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

.menu {
    z-index: 96;
    color: #757575;
    background: #fafafa;
    grid: 8px;
}
.toggle {
    color: #87C9D9;
    display: block;
    height: 72px;
    line-height: 72px;
    text-align: center;
    width: 72px;
    position: absolute;
    top: 70px;
    right: 90px;
  }
.toggle:hover {
    color: #B9C0C7;
}